<%- include("sidebar"); -%>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Roll Number</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 1;i<=roll.length-1;i++){%>
    <tr>

          <td><%= roll[i]%></td>
          <td><%= name[i]%></td>
    </tr>
    <%}%>
  </tbody>
</table>
<script type="text/javascript">
  window.setTimeout( function() {
    window.location.reload();
  }, 300);
</script>


<%- include("footer"); -%>
